.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectContainer label {
    padding: 0.5rem;
    font-size: 1.2rem;
    color: #DC0A2D;
    font-weight: 700;
}

select {
    width: auto;
    height: 100%;
    padding: 0.3rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #FFF;
    background-color: #DC0A2D;
    border: none;
    text-align: center;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
    outline: none;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon {
    position: relative  ;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem 1rem .5rem 1rem;
    border-radius: 1rem 0;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    transition: all 1s;
    cursor: pointer;
}

.pokemon:hover {
    transform: scale(1.05);
}

.pokemon .number {
    color: #FFF;
    opacity: .4;
    font-size: 1.5rem;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: -2px;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    /*margin-bottom: .25rem;*/
}

.pokemon .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem 0 0;
    /*margin: 0.5rem 0 0;*/
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: 0 .25rem;
    font-size: .625rem;
    border-radius: 1rem;
    /*filter: brightness(1.1);*/
    display: inline-block;
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    width: 150px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .4rem .5rem;
    margin: .25rem 0;
    font-size: 1rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: .7rem;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .pokemon .number {
        font-size: 2rem;
    }

    .pokemon .detail .types .type {
        font-size: 1rem;
    }

    .pokemon .name {
        font-size: 1.3rem;
    }
}